/* ------------------------------------------------------------------------------------------------ */
/* --- Data Chart Styles -------------------------------------------------------------------------- */

.data-chart h3 {
    font-family: var(--ff-title);
    color: var(--prim);
    margin-bottom: 1rem;
}

/* canvas {
    width: 15.9rem;
    height: 14rem;
} */

/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */