/* ------------------------------------------------------------------------------------------------ */
/* --- ThemeToggle Switch Styles ------------------------------------------------------------------ */


/* .theme-toggle .MuiTouchRipple-root {
    width: 160%;
    height: 160%;
    transform: translate(-17.5%, -17.5%);
} */


/* ------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------ */